body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #042683, #0e49b8, #0b6588);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    overflow: hidden;
}

.left {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #0b6588, #0e49b8, #042683);
    color: white;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 5px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: black;
}

#taskInput,
#descriptionInput {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    color: black;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffffff;
}

.right {
    flex: 2;
    display: flex;
    padding: 20px;
    background: linear-gradient(to right, #042683, #0e49b8, #0b6588);
    color: white;
    border-radius: 5px;
    border-right: 1px solid #fff;
}

.pendingTasks {
    flex: 1;
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.completedTasks {
    flex: 1;
    padding-right: 20px;
}

.pendingTasks,
.completedTasks {
    margin-right: 10px;
}

.completedTasks h2 {
    margin: 0 0 10px 0;
    color: #f0f0f0;
    background: linear-gradient(to right, #0e49b8, #0b6588);
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid white;
}

.pendingTasks h2 {
    margin: 0 0 10px 0;
    color: #f0f0f0;
    background: linear-gradient(to right, #042683, #0e49b8);
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid white;
}

.taskSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    padding-right: 100px;
    flex-direction: row; /* Set flex-direction to row */
}


.taskSummary button {
    display: inline-block; /* Change display to inline-block */
    margin: 0; /* Remove default margin */
}


.completedTasks .taskSummary {
    opacity: 0.6;
}

.completedTasks .taskSummary button {
    display: none;
}

.dateTime {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    white-space: nowrap;
}


/* Media query for smaller screens */

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        margin: none;
        padding: 0; 
    }

    .left{
        flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #0b6588, #0e49b8, #042683);
    color: white;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    }

    .box {
        width: 90%;
    }

    .right {
        flex-direction: column;
        padding: 0;
        border-radius: none;
        padding-right: 20px; 
        width: 100%;
        padding: 10px; 
    }
   
    .pendingTasks,
    .completedTasks,
    .left {
        border: none;
    }

    .completedTasks h2,
    .pendingTasks h2 {
        background: linear-gradient(to right, #042683, #0b6588);
        border-radius: none;
        width: 100%;
    }

    #taskInput,
    #descriptionInput {
        width: 90%;
        height: 30px;
    }
    
    
    .taskSummary {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .buttonContainer{
    display: flex;
        flex-direction: row;
        
    }
    
    .buttonContainer button {
        display: inline-block;
        margin-right: 5px; /* Add space between buttons */
    }
}


